.container{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputField_div{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    width: fit-content;
    padding: 3em;
    align-items: center;
    box-shadow: rgb(0 0 0 /69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}
.btnClick{
    background-color: rgb(138, 138, 134);
    width: 50%;
    padding: 1em;
    border: none;
    border-radius: 10px;
    font-size: large;

}
.label{
    font-size: large;
    font-weight: 700;
    padding-right: 1em;
}
.input{
    padding: 1em;
    background-color: rgb(196, 196, 191);
    border-radius: 10px;
    border:none;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 1em;
}

p{
    color:red;
}
